Authlib==1.2.0
Django==4.2.1
django-cors-headers==3.14.0
django-filter==23.1
django-import-export==3.2.0
djangorestframework==3.14.0
requests==2.28.2
gunicorn==20.1.0
psycopg[binary]==3.1.8
pypinyin==0.48.0
coverage==7.2.3
django-debug-toolbar==4.0.0
redis==4.5.4
django-prometheus==2.2.0
python-dotenv==1.0.0
